$fonte: "Roboto", sans-serif;

// Cores

$cor-primaria:#73450D;
$cor-secundaria:#647355;
$cor-terciaria: #F2BBA7;
$cor-laranja:#BF6B21;
$cor-base: #97A694;

//tamanho das fontes
$tamanho-do-texto: 3rem;
